
<div class="wrapper-page">

            <div class="text-center">
                <a href="index.html" class="logo-lg"><i class="mdi mdi-radar"></i> <span>Minton</span> </a>
            </div>


            <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <form class="form-horizontal m-t-20" action="index.html">

                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text input-group"><%= fa_icon "at" %> </span>
                  </div>
                  <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" , placeholder: "Email" %>

                </div>

                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text input-group"><%= fa_icon "key" %> </span>
                  </div>
                      <% if @minimum_password_length %>
                      <% end %>
                  <%= f.password_field :password, autocomplete: "off",  class: "form-control", placeholder: "#{@minimum_password_length} characters minimum" %>
                </div>

                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text input-group"><%= fa_icon "key" %> </span>
                  </div>
                      <% if @minimum_password_length %>
                      <% end %>
                  <%= f.password_field :password_confirmation, autocomplete: "off",  class: "form-control", placeholder: "Confirmation" %>
                </div>

                <div class="form-group text-right m-t-20">
                    <div class="col-xs-12">
                      <%= f.button "S'inscrire",  type: "submit", class: "btn btn-primary btn-custom w-md waves-effect waves-light" %>
                </div>

              <div class="form-group col m-t-30">
                <%= render "devise/shared/links" %>
              </div>

            <% end %>



</div>


